{% extends "network/layout.html" %}

{% block body %}

{% if posts.has_other_pages %}
    <nav aria-label="Page navigation example" style="margin: 20px 0px; padding: 20px 0;">
    <ul class="pagination">
        {% if posts.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
            
        {% endif %}
        
        {% for i in posts.paginator.page_range %}
            {% if posts.number == i %}
                <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        
        {% if posts.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
        {% endif %}
    </ul>
    </nav>
{% endif %}

{% if user.is_authenticated %}

    {% for post in posts %}
    <div class="post">
        <f class="row">            
            <div class="user col-3" style="max-width: 15%; flex: 0 0 15%;"><a href="{% url 'profile' post.user %}">{{post.user}}</a></div>
            
            <div class="col-6" style="max-width: 75%; flex: 0 0 75%;"></div>
                
            {% if post.user == request.user %}
                    <button class="edit btn col-3" style="max-width: 10%; flex: 0 0 10%" id="{{post.id}}" >Edit</button>
            {% endif %}
        </f>
        <div name={{post.id}} class="content">{{post.content}}</div>
        {% if post in liked %}
                <button class="btn like-btn dislike" num={{post.likes}} id="{{post.id}}">&hearts; {{post.likes}}</button>
        {% else %}
                <button class="btn like-btn like" num={{post.likes}} id="{{post.id}}">&hearts; {{post.likes}}</button>
        {% endif %}
        <f class="row">
            <div class="col-10" style="max-width: 77%; flex: 0 0 77%;"></div>
            <div class="timestamp col-2" style="max-width: 23%; flex: 0 0 23%;">{{post.date}} {{post.time}}</div>
        </f>
    </div>
    {% endfor %}

{% endif %}

{% endblock %}