{% extends "network/layout.html" %}

{% block body %}
    
{% if user.is_authenticated %}

    <!-- If profile is User's -->
    {% if request.user == username %}
    
        <h2> {{request.user}} </h2>
    
    <!-- Else if is someone else -->
    {% else %}
        <h2> {{username}} </h2>
        {% if username in followed %}
            <button class="unfollow" name="{{username}}">Following!</button>
        {% else %}
            <button class="follow" name="{{username}}">Follow</button>
        {% endif %}
    {% endif %}

    {% for post in posts %}
        {% if post in liked %}
            <div class="post">
                <div class="user"><a href="{% url 'profile' post.user %}">{{post.user}}</a></div>
                <div class="content">{{post.content}}</div>
                <button class="dislike" id="{{post.id}}">{{post.likes}}</button>
                <f class="row">
                    <div class="col-10"></div>
                    <div class="timestamp col-2">{{post.date}} {{post.time}}</div>
                </f>
            </div>
        {% else %}
            <div class="post">
                <div class="user"><a href="{% url 'profile' post.user %}">{{post.user}}</a></div>
                <div class="content">{{post.content}}</div>
                <button class="like" id="{{post.id}}">{{post.likes}}</button>
                <f class="row">
                    <div class="col-10"></div>
                    <div class="timestamp col-2">{{post.date}} {{post.time}}</div>
                </f>
            </div>
        {% endif %}
    {% endfor %}

{% else %}

    <h2> {{username}} </h2>

    {% for post in posts %}
        <div class="post">
            <div class="user"><a href="{% url 'profile' post.user %}">{{post.user}}</a></div>
            <div class="content">{{post.content}}</div>
            <div class="likes">{{post.likes}}</div>
            <f class="row">
                <div class="col-10"></div>
                <div class="timestamp col-2">{{post.date}} {{post.time}}</div>
            </f>
        </div>
    {% endfor %}
 
{% endif %}

{% endblock %}