{% extends "network/layout.html" %}

{% block body %}
    
{% if user.is_authenticated %}

    <!-- If profile is User's -->
    {% if request.user == username %}
    
        <h2> {{request.user}} </h2>
    
    <!-- Else if is someone else -->
    {% else %}
    
        <h2> {{username}} </h2>
    
    {% endif %}

    {% for post in posts %}
    <div class="post">
        <div class="user">{{post.user}}</div>
        <div class="content">{{post.content}}</div>
        <div class="likes">{{post.likes}}</div>
        <f class="row">
            <div class="col-10"></div>
            <div class="timestamp col-2">{{post.date}} {{post.time}}</div>
        </f>
    </div>
    {% endfor %}

{% endif %}

{% endblock %}