.post{
    margin: 20px 20px;
    padding: 20px 20px;
    background-color: cyan;
    display: flex;
    flex-direction: column;
}

.user{
    background-color: coral;
    width: fit-content;
    display: inline-block;
    text-align: center;
    margin-top: 10px
}

.content{
    margin: 10px 0;
    background-color: white;
}

.timestamp{
    background-color: coral;
    text-align: center;
    width: 25%;

}

.dislike{
    background-color: greenyellow;
}

.edit, .save{
    width: 10%;
    background-color: red;
}

.row{
    margin: 10px 0;
}

.likes{
    background-color: pink;
    width: 3%;
    text-align: center;

}

.user, .likes, .content, .timestamp{
    padding: 10px 10px;
}