.post{
    margin: 20px 20px;
    padding: 20px 20px;
    background-color: cyan;
    display: flex;
    flex-direction: column;
}

.user{
    background-color: red;
    width: 10%;
    margin-top: 10px;
}

.content{
    margin: 10px 0;
    background-color: brown;
}

.timestamp{
    background-color: orange;
    text-align: right;
    width: 25%;

}

.row{
    margin: 10px 0;
}

.likes{
    background-color: pink;
}

.user, .likes, .content, .timestamp{
    padding: 10px 10px;
}