body{
    background-color: wheat;
}

.post > div, .post > f > div{
    border-radius: 25px;
}

#newpost{

    margin: 20px 20px;
    padding: 20px 20px;
    border-radius: 25px;
}

.follow{
    background-color: yellow;
}

.unfollow{
    background-color: aqua;
}

.post{
    border: solid 2px #da77cb;
    border-radius: 25px;
    margin: 20px 20px;
    padding: 20px 20px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
}

.text-edit{
    padding: 20px;
    border-radius: 25px;
    width: 100%;
}


.like-btn{
    margin-top: 10px;
    border-radius: 25px;
    background-color: turquoise;
    width: 10%;
}

.user{
    background-color: coral;
    width: fit-content;
    display: inline-block;
    text-align: center;

}

.content{
    padding: 20px 10px;
    background-color: white;
}

.timestamp{
    background-color: coral;
    text-align: center;
    width: 25%;

}

.dislike{
    background-color: hotpink;
}

.pagination{
    padding-left: 20px;
}

.edit{
    padding: 10px 10px;
    border-radius: 25px;    
    background-color: orange;
}

.save{
    width: 10%;
    background-color: greenyellow;
}

.row{
    margin: 10px 0;
}

.likes{
    border-radius: 25px;
    background-color: pink;
    width: 3%;
    text-align: center;
    

}

.user, .likes, .timestamp{
    padding: 10px 10px;
}